.carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carouselContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}

.carouselContentLeft {
  max-width: 548px;
  width: 100%;
}

.carouselContentLeftTitle {
  font-family: var(--font-fairplay);
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  color: var(--emerald900);
  margin-bottom: 16px;
}

.carouselContentLeftDescription {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--slate500);
  max-width: 400px;
  width: 100%;
}

.buttonsCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.iconButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listProducts {
  display: flex;
  gap: 12px;
  width: 100%; 
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  cursor: grab;
  user-select: none;
  padding-bottom: 8px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.listProducts::-webkit-scrollbar {
  display: none;
}

.listProducts.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
  cursor: grabbing;
}

.cardItem {
  width: calc((100% - 24px) / 2.5) !important;
  min-width: calc(
    (100% - 24px) / 2.5
  ) !important;

  flex-shrink: 0 !important; 
  scroll-snap-align: start;
}

.cardItem > * {
  width: 100%;
}
